.header {
    margin-bottom: 30px;
}

.header__inner {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;


    @include for-desktop{
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: space-around;
    }
}

.header__inner__date {
    border-radius: 7px;
    box-shadow: 0 0 4px 0 rgba(0, 114, 240, 0.4);
    background: #191919;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #efefef;
    padding: 10px 15px;
    cursor: pointer;
}

.header__inner__item{
    display: flex;
    column-gap: 30px;
}

.header__inner__search {
    background: #efefef;
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
}

.header__inner__title {
    display: flex;
    column-gap: 60px;

    @include mobile{
        column-gap: 20px;
    }

    & li {
        font-weight: 600;
        font-size: 26px;
        line-height: 138%;
        color: rgba(25, 25, 25, 0.5);

        @include mobile{
            font-size: 18px;
        }
    }
}
 /* Стили для селекта */
 .select-container {
    position: relative;
    // min-width: 200px;
    // border: 1px solid #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 160px;
    text-align: center;

  }
  .options-list {
    list-style-type: none;
    padding: 15px 0;
    border-radius: 10px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    // max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    display: none;
    top: 110%;
    left: 0;
    min-width: max-content;
   

    & li+li{
        margin-top: 10px;
    }

    & li{
        display: flex;
        transition: all 0.3s linear;
        padding: 1px 5px;

        &:hover{
            background-color: rgba(grey, 0.3) ;
        }
    }
  }
  .option {
    padding: 8px 12px;
    cursor: pointer;
  }
/* Скрытие стандартного чекбокса */
.checkbox {
    display: none;
}

/* Стилизация внешнего вида нового чекбокса */
.checkbox + label.option:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

/* Изменение внешнего вида чекбокса при его выборе */
.checkbox:checked + label.option:before {
    background-color: greenyellow;
}

/* Стилизация текста метки */
.option {
    vertical-align: middle;
}

