<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="header__inner__logo" class="">
                <img src="./assets/images/image 6.svg" alt="logo" width="163" height="30">
            </a>
            <div class="header__inner__item">


                <div class="select-container">
                    <div class="selected-count header__inner__date">2022-08-14</div>
                    <ul class="options-list">
                        <li>
                            <input type="checkbox" id="option1" class="checkbox" data-label="Option 1">
                            <label for="option1" class="option">Travel</label>
                        </li>
                        <li>
                            <input type="checkbox" id="option2" class="checkbox" data-label="Option 2">
                            <label for="option2" class="option">Food/ Beverage</label>
                        </li>
                        <li>
                            <input type="checkbox" id="option3" class="checkbox" data-label="Option 3">
                            <label for="option3" class="option">Automotive</label>
                        </li>
                        <li>
                            <input type="checkbox" id="option4" class="checkbox" data-label="Option 4">
                            <label for="option4" class="option">Education</label>
                        </li>
                        <li>
                            <input type="checkbox" id="option5" class="checkbox" data-label="Option 5">
                            <label for="option5" class="option">Government</label>
                        </li>
                        <li>
                            <input type="checkbox" id="option6" class="checkbox" data-label="Option 6">
                            <label for="option6" class="option">Nonprofit</label>
                        </li>
                        <li>
                            <input type="checkbox" id="option7" class="checkbox" data-label="Option 7">
                            <label for="option7" class="option">Other</label>
                        </li>
                    </ul>
                </div>
                <button class="header__inner__search"><a href="">Research and development</a></button>
            </div>
            <ul class="list-reset header__inner__title">
                <li><a href="">Report</a></li>
                <li><a href="">Departament</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </div>
    </div>
</header>